<footer class="footer">
  <div class="footer-social">
    <ul class="social-icons">
      {% if site.twitter_url %}
      <li><a href="{{ site.twitter_url }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.googleplus_url %}
      <li><a href="{{ site.googleplus_url }}"><i class="fa fa-google-plus-square" aria-hidden="true"></i>
</a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url }}"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
    <ul class="copyright">
      <li>2017 @ Mr.Brown Theme</li>
      <li>
        Author: <a href="#">Artem Sheludko</a>
      </li>
    </ul>
  </div>
  <div class="footer-cc">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale</a>.
  </div>
</footer>
